*, *::before, *::after {
 
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.notification {
    color: green;
    background-color: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

